* body {
	background-size: 2.2%;
    margin: 0;
    background-image: url(../image/backgroudn.png),linear-gradient(172deg, #00aeff 2.47%, #ffe600 15.55%, #95bdfa 30.63%, rgb(255, 0, 179) 50.7%, rgb(172, 255, 172) 70.7%,#ff009d 90.7%);
    width: 100%;
    height: 100%;
    cursor: url('image/cursor1.png'), auto; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height:auto;
}
@media screen and (max-width: 500px) {
    body{
        background-size: 10%;
        margin: 0;
        background-image: url(../image/backgroudn.png),linear-gradient(172deg, #00aeff 2.47%, #ffe600 15.55%, #95bdfa 30.63%, rgb(255, 0, 179) 50.7%, rgb(172, 255, 172) 70.7%,#ff009d 90.7%);
        width: 100%;
        overflow-x: hidden;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;

    }

    
}
.body_2{
    background-size: 2.2%;
    margin: 0;
    background-image: url(../image/backgroudn.png),linear-gradient(172deg, #00aeff 2.47%, #ffe600 15.55%, #95bdfa 30.63%, rgb(255, 0, 179) 50.7%, rgb(172, 255, 172) 70.7%,#ff009d 90.7%);
    width: 100%;
    height: 100%;
    cursor: url('image/cursor1.png'), auto; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height:500vh;
}
@media screen and (max-width: 500px) {
    .body_2{
        background-size: 8%;
        margin: 0;
        background-image: url(../image/backgroudn.png),linear-gradient(172deg, #00aeff 2.47%, #ffe600 15.55%, #95bdfa 30.63%, rgb(255, 0, 179) 50.7%, rgb(172, 255, 172) 70.7%,#ff009d 90.7%);
        width: 100%;

        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        height:500vh;
    }

    
}

.container_homepage {
    grid-template-rows: repeat(23, 1fr);
    grid-template-columns: repeat(20, 1fr);
    display: grid;
    height:100vh;
}
@media screen and (max-width: 500px) {
    .container_homepage {
        grid-template-rows: repeat(23, 1fr);
        grid-template-columns: repeat(20, 1fr);
        display: grid;
        height:100vh;
        width: 100vw;
    }
    
}
.container {
    grid-template-rows: repeat(23, 1fr);
    grid-template-columns: repeat(20, 1fr);
    display: grid;
    height: auto;
    
}
@media screen and (max-width: 500px) {
    .container {
        grid-template-rows: repeat(23, 1fr);
        grid-template-columns: repeat(20, 1fr);
        display: grid;
        height: auto;
        filter: blur(0);
        z-index: 997;
        
        transition: filter 0.5s ease-in-out;
    }
    
}
/* .header {
    grid-column: span 20;
    grid-row: span 1;
    background: linear-gradient(90deg, #00FF38 1.42%, rgba(0, 255, 56, 0.00) 80.35%);
    color: #FFF;
    /* font-family: Arial, Helvetica, sans-serif; */




.header {
    grid-column: span 20;
    grid-row: span 1;
    background: linear-gradient(90deg, #00FF38 1.42%, rgba(0, 255, 56, 0.00) 80.35%);
    color: #FFF;
    font-family: 'Berkshire Swash',Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: left;
}
@media screen and (max-width: 500px) {
    .header {
        align-items: center;
        grid-column: span 20;
        grid-row: span 1;
        background: linear-gradient(90deg, #00FF38 1.42%, rgba(0, 255, 56, 0.00) 80.35%);
        color: #FFF;
        font-family: 'Berkshire Swash',Arial, Helvetica, sans-serif;
        font-weight: bold;
        float: left;
        font-size: 12px;
        height: 60px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999; /* Set a high z-index value to keep the header on top */
    }
    .footer {
        color: #FFF;
        background: linear-gradient(90deg, #00FF38 1.42%, rgba(0, 255, 56, 0.00) 80.35%);
        /* grid-column: span 20; */
        grid-row: span 1;
        font-size: 15px;
        bottom: 0;
        position: fixed;
        z-index: 9999;
        font-family: 'Berkshire Swash',Arial, Helvetica, sans-serif;
    }
    .footer_page3 {
        color: #FFF;
        background: linear-gradient(90deg, #00FF38 1.42%, rgba(0, 255, 56, 0.00) 80.35%);
        /* grid-column: span 20; */
        grid-row: span 1;
        font-size: 15px;
        bottom: 0;
        position: fixed;
        z-index: 999;
        font-family: 'Berkshire Swash',Arial, Helvetica, sans-serif;
    }
    
    
}
.main {
    grid-area:main;
    grid-column: span 20;
    grid-row: span 21;
    color: #FFF;
    font-family: Arial, Helvetica;
    background-color: #f5c6c600;
   
}

.footer {
    color: #FFF;
    background: linear-gradient(90deg, #00FF38 1.42%, rgba(0, 255, 56, 0.00) 80.35%);
    grid-column: span 20;
    grid-row: span 1;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    position: fixed;
    font-family: 'Berkshire Swash',Arial, Helvetica, sans-serif;

}

.queen-reishi {
    display: flex;
    align-items: center;
    justify-content: center;

}

.queen-reishi img {
    top: 0;
    left: 0;
    width: 300px;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 500px) {
    .queen-reishi img {
        top: 0;
        left: 0;
        width: 214px;
        height: auto;
        object-fit: cover;
        margin-top: 50px;
    }
    
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: 'Berkshire Swash',Arial, Helvetica;
    color: #240c9f;
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Berkshire Swash', cursive;

}
@media screen and (max-width: 500px) {
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-family: 'Berkshire Swash',Arial, Helvetica;
        color: #240c9f;
        text-align: center;
        font-weight: bolder;
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'Berkshire Swash', cursive;
    }
    
}
.text-center{
    margin:auto;     font-size: 25px; 
    width:400px; 
    font-weight: bolder;
    font-family: 'Berkshire Swash', cursive;
    text-align: center;
    margin-top:20px; 
    margin-bottom:20px;
    background: linear-gradient(180deg, #00FF38 1.42%, rgba(0, 255, 55, 0.103) 95.35%);

}
.text-homepage{
    margin:auto;     font-size: 25px; 
    width:300px; 
    font-weight: bolder;
    font-family: 'Berkshire Swash',Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top:20px; 
    margin-bottom:20px;
    background: linear-gradient(180deg,rgba(0, 255, 55, 0.103) 2.35%, #ffffff 50.42%, rgba(0, 255, 55, 0.103) 95.35%);

}

.nav ul {
    list-style: none;
    display: flex;
}

.nav {
    grid-column: span 3;
    grid-row: span 21;
    background-color: #ffc80000;
    /* Add other styles for the .nav container */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.nav li {
    margin: 0 15px;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.bar {
    width: 45px;
    height: 8px;
    background-color: #00ff00;
    margin: 6px 0;
    transition: 0.4s;
}
.hamburger{
    display: none;
}

@media only screen and (max-width: 500px) {
    .hamburger {
        display: block;
        cursor: pointer;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 9999;
    }
    /* .hamburger span{
            display: block;
            height: 3px;
            width: 25px;
            background-color: #fff;
            margin: 5px 0;
    } */
    .nav{
        z-index: 999;
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 600px;
        margin:auto;
        
    }
.nav img{    
    display: none;  
            position: absolute;
            /* transform: translate(-50%, -50%); */
            bottom: 0;
            left: 0;
            width: auto;
            height: 50px;
            margin-top: 20px;
            background: rgba(255, 255, 255, 0.7);
        }
        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
            color: #333;
        }
}




.nav img {
    width: 200px;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
    transition: transform 0.3s ease, filter 0.3s ease;; /* Add a smooth transition effect for hover */

    /* You can add other styles for the image here */
}

.nav img:hover {
    transform: scale(1.2); 
    filter: invert(1);/* Scale the image on hover, adjust as needed */
    /* Add other styles for the hover effect */
}




/* .whitepage{
    grid-area: 2/5/22/15;
    background-image: url(../image/background_whitepage.png);
    
    display: flex;
    flex-direction: column;
    width: 474px;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    font-family: Honk-Regular,Arial, Helvetica, sans-serif;
    color:#ff0077;

} */
.whitepage {
    grid-area: 2/5/22/15;
    background-size: 20%;
    background-image: url(../image/background-whitepage.png);
    position: relative;
    width: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color:#ffffff;
    overflow: hidden; /* Ensure the gradient layer doesn't overflow */
}

.mobile-nav {
    display: none; /* Initial state is hidden */
    position: fixed;
    top: 0; /* Adjust based on your header height */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background:linear-gradient(172deg, #4dc0f5 2.47%, #ffec3c 15.55%, #95bdfa 30.63%, rgb(255, 83, 203) 50.7%, rgb(172, 255, 172) 70.7%,#eea4b4 90.7%); /* Choose a suitable background color */
    z-index: 1000; /* Ensure it's above other content */
    text-align: center; /* Center the images */
    padding: 10px 0; /* Add some padding */
    
}

.mobile-nav-visible {
    display: flex; /* or "block", depending on your layout needs */
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.mobile-nav a {
    margin-top: 50px; /* Space out the images */
    display: inline-block; /* Display images inline */
}

.mobile-nav img {
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth scaling on hover */
}

.mobile-nav img:hover {
    transform: scale(1.1); /* Slightly enlarge icons on hover */
}


@media screen and (max-width: 500px){
    .whitepage {
        grid-area: 2/5/20/17;
        background-size: 8%;
        background-image: url(../image/background-whitepage.png);
        position: relative;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: flex-start;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        color:#25ff00;
        overflow: hidden; /* Ensure the gradient layer doesn't overflow */
    }
    
}
.whitepage_short {
    grid-area: 2/5/10/15;
    background-image: url(../image/background-whitepage.png) 40%;
    position: relative;
    width: 474px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    overflow: hidden; /* Ensure the gradient layer doesn't overflow */
}

.whitepage::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(45deg, #bbff00, #ff009d, #152cff);
    background-size: 100% 100%;
    animation: gradientChange 0.5s infinite alternate;
}

@keyframes gradientChange {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.whitepage_text{
    width: 350px;
    height: auto;
    background: linear-gradient(180deg,rgba(251, 255, 0, 0.73) 2.35%, #ffffff 50.42%, rgba(251, 255, 0, 0.7) 95.35%);
    border: #36ff00 5px dashed;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #0059cb;
    font-style: oblique;
    font-weight: bolder;
    margin: 30px;
}
@media screen and (max-width: 500px) {
    .whitepage_text{
        width: 270px;
        height: auto;
        background: linear-gradient(180deg,rgba(251, 255, 0, 0.73) 2.35%, #ffffff 50.42%, rgba(251, 255, 0, 0.7) 95.35%);
        border: #36ff00 5px dashed;
            border-radius: 10px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        color: #0059cb;
        font-style: oblique;
        font-weight: bolder;
        margin: 30px;
    }
    
}

.whitepage img{
    width: auto;
    height: 200px;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
}
.homepagebackground {
    grid-area: 2/5/23/15;
    background-image: url(../image/background4.png);
    display: flex;
    flex-direction: column;
    width: 474px;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.homepagebackground img{
    width: auto;
    height: 200px;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
}
@media screen and (max-width: 500px) {
    .homepagebackground {
        grid-area: 3/5/22/16;
        background-size:100%;
        background-image: url(../image/background4.png);
        display: flex;
        flex-direction: column;
        width: 300px;
        position: relative;
        align-items: center;
        text-align: center;
        justify-content: center;
        height:auto;
    }
    .homepagebackground img{
        width: auto;
        height: 200px;
        margin-top: 20px;
        margin-left: 0px;
        position: relative;
    }
    
}

.end{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Berkshire Swash', cursive;

}
@media screen and (max-width: 500px) {
    .end{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Berkshire Swash', cursive;
    }
    
}
.bottom{
    font-size: 20px; 
    text-align: center;
    padding: 20px;
    bottom: 0;
    left: 50%;
    color: #51ff00;
    font-family:'Berkshire Swash' ,Arial, Helvetica, sans-serif;
}

.text-container {
    font-size: 20px;
    color: #15ff00;
    transition: color 0.3s ease; /* Add a smooth transition effect for text color */
}

.text-container:hover {
    color: rgb(255, 251, 0); /* Change text color on hover if needed */
}
@media screen and (max-width: 500px) {
    .bottom{
        font-size: 20px; 
        text-align: right;
        padding: 20px;
        bottom: 0;
        left: 50%;
        color: #fffb00;
        font-family:'Berkshire Swash' ,Arial, Helvetica, sans-serif;
    }
    .text-container {
        font-size: 20px;
        color: #ffee00;
        transition: color 0.3s ease; /* Add a smooth transition effect for text color */
    }
    
}


